/*swiper自带的基础css*/
html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
    	/*使得元素居中了,干预了布局*/
        /*text-align: center;
        font-size: 18px;
        background: #fff;*/

        /* Center slide text vertically */
        /*display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
    }
/*声明*/
p.statement{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	text-align:center;
	color:rgba(255,255,255,0.9);
	font-family: "微软雅黑";
	font-size:3vw;
	z-index:1;
}
/*音乐*/
#music{
	width:60px;
	height:60px;
	/*border:4px solid blue;*/
	position:fixed;
	top:10px;
	right:10px;
	/*设置层级关系高于body*/
	z-index:1;
}
#music .music1{
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
#music .music2{
	/*是图片与动图落在一个位置*/
	position:absolute;
	/*实现图片的水平垂直居中
	top:50%;
	left:50%;
	margin-top:-22px;
	margin-left:-22px;*/
	top:8px;
	left:8px;
	animation:run 2s linear infinite;
}
@keyframes run{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
/*第一屏*/
.swiper-slide.one{
	background:url(../images/onebg.png) no-repeat;
	/*拉升背景图*/
	background-size:100% 100%;
}
.swiper-slide.one .top{
	width:70%;
	height:50%;
	border:9px solid white;
	margin:0px auto;
	margin-top:8%;
	overflow:hidden;
}
.swiper-slide.one .top img{
	/*自适应父级div，只设置宽度,高度会等比例缩放*/
	width:100%;
}
.swiper-slide.one .bottom{
	width:70%;
	height:30%;
	/*border:2px solid green;*/
	margin:0px auto;
	margin-top:5%;
	position:relative;
}
.swiper-slide.one .bottom .ring{
	/*只设置宽度,高度会等比例缩放*/
	width:35%;
	position:absolute;
	top:0px;
	left:5%;
}
.swiper-slide.one .bottom .mery{
	width:100%;
	position:absolute;
	top:13%;
	left:0px;
}
.swiper-slide.one .bottom .time{
	width:50%;
	position: absolute;
	bottom:0px;
	/*使得有定位属性的元素水平居中*/
	left: 50%;
	/*水平左移本身的一半距离*/
	transform:translateX(-50%);
}
/*第二屏*/
.swiper-slide.two{
	background:url(../images/twobg.jpg) no-repeat;
	background-size:100% 100%;
	position:relative;
}
.swiper-slide.two .one{
	width:30%;
	height:20%;
	border:10px solid #FFEBEB;
	position:absolute;
	left:5%;
	top:5%;
	/*图片溢出隐藏即可*/
	overflow:hidden;
	z-index:1;
}
.swiper-slide.two .one img{
	width:100%;
}
.swiper-slide.two .two{
	width:60%;
	height:80%;
	border:9px solid #FFEBEB;
	background:#FFEBEB;
	position: absolute;
	right:5%;
	top:10%;
}
.swiper-slide.two .two .top{
	/*要定义高度*/
	height:60%;
	width:100%;
	/*图片溢出隐藏即可*/
	overflow:hidden;
	/*结婚照与下面的字有一点距离*/
	margin-bottom:2%;
}
.swiper-slide.two .two .top img{
	/*设置图片的宽度即可*/
	width:100%;
}
.swiper-slide.two .two>img{
	width:100%;
	/*由于代码之间有空格,浏览器会解析成空白行,可以删除代码里的空格,但是代码格式会很难看,所以用浮动解决*/
	float:left;
	/*给每张图片加一个外边距*/
	margin-top:0.5%;
}
.swiper-slide.two .windmill{
	width:30%;
	position:absolute;
	right:2%;
	top:43%;
}
/*第三屏*/
.swiper-slide.three{
	background:url(../images/twobg.jpg) no-repeat;
	background-size:100% 100%;
}
.swiper-slide.three .big{
	width:70%;
	height:59%;
	border:9px solid white;
	position: absolute;
	left:13.5%;
	top: 6%;
	overflow:hidden;
}
.swiper-slide.three .big img{
	width:100%;
}
.swiper-slide.three .dog{
	width:30%;
	position: absolute;
	top: 57%;
	right:20%;
}
.swiper-slide.three .flower1{
	width:80%;
	position: absolute;
	right: 0%;
	top: 0%;
}
.swiper-slide.three .flower2{
	width: 80%;
	position: absolute;
	left: 0%;
	bottom: 0%;
}
.swiper-slide.three .aini{
	width: 75%;
	position: absolute;
	left:33%;
	bottom:24% ;
}
/*第四屏*/
.swiper-slide.four{
	background:url(../images/twobg.jpg) no-repeat;
	background-size:100% 100%;
}
.swiper-slide.four .all{
	width:84%;
	height:70%;
	border:9px solid white;
	position: absolute;
	top: 6%;
	left: 5.5%;
}
.swiper-slide.four .all .a41{
	width:49.5%;
	height:23%;
	overflow:hidden;
	position: absolute;
	top: 0%;
	left:0%;
}
.swiper-slide.four .all .a41 img{
	height:100%;
}
.swiper-slide.four .all .a42{
	width:50.5%;
	height:54.5%;
	overflow:hidden;
	position: absolute;
	top: 0%;
	right:0%;
}
.swiper-slide.four .all .a42 img{
	height:100%;
	display: block;
	margin: 0px auto;
}
.swiper-slide.four .all .a43{
	width:49.5%;
	height:77%;
    overflow:hidden;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.swiper-slide.four .all .a43 img{
	height:100%;
}
.swiper-slide.four .all .a44{
	width:49%;
	height:46%;
	overflow: hidden;
	position:absolute;
	bottom:0%;
	right:0%;
}
.swiper-slide.four .all .a44 img{
	height:100%;
}
.swiper-slide.four .flower2{
	width: 70%;
	position: absolute;
	left: 0%;
	bottom: 0%;
}
.swiper-slide.four .chengnuo{
	width:40%;
	position: absolute;
	left:6%;
	bottom:12%;
}
.swiper-slide.four .xieshou{
	width:40%;
	position: absolute;
	right:6%;
	bottom:12%;
}
